---
interface Props {
    url: string;
    name: string;
    isBig?: boolean;
}

const { url, name, isBig = false } = Astro.props;
const id = url.split("/").at(-2);
const imageSrcShiny = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/${id}.png`;
---

<!-- 
    class="rounded border flex flex-col justify-center items-center p-2"> 
    class=`rounded border flex flex-col justify-center items-center p-2 ${!isBig && 'border'}`> 
-->
<a
    href={`/pokemons/${name}`}
    class:list={[
        `rounded border flex flex-col justify-center items-center p-2`,
        {
            border: !isBig,
        },
    ]}
>
    <img
        transition:name={`${name}-image`}
        class:list={[
            {
                "w-26 h-26": isBig,
                "w-22 h-22": !isBig,
            },
        ]}
        src={imageSrc}
        alt={name}
    />
    <span
        class:list={[
            "capitalize",
            {
                "text-4xl text-blue-300": isBig,
            },
        ]}>#{id} {name}</span
    >
</a>
