---
//Código Server Side Only - Momento de construcción BUILD TIME
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
const title='Pokémon Static | Home';

const resp=await fetch('https://pokeapi.co/api/v2/pokemon');
const data=await resp.json() as PokemonListResponse;
console.log("data",data);

---


<MainLayout title={title}>
	<h1 class="text-3xl">Listado de Pokemons</h1>
	<!-- <ul>
		{data.results.map((pokemon)=><li>{pokemon.name}</li>)}
	</ul> -->
	<section 
	aria-label="Listado de Pokemons"
	class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
	>
		<!-- {data.results.map((pokemon)=><li>{pokemon.name}</li>)} -->
		 {data.results.map(({name, url})=> <PokemonCard name={name} url={url} /> )}

		 <!-- DESTRUCTURACION
		{data.results.map(({name,url})=>
		 <PokemonCard
			name={name},
			url={url},
		 />
		 )} -->
	</section>
</MainLayout>